
.board-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.board {
    display: grid;
    grid-template-columns: 30px repeat(10, 50px); /* 10x10 grid, plus labels */
    grid-template-rows: 30px repeat(10, 50px);
    gap: 5px;
}
.cell {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border: 1px solid black;
}
.label {
    text-align: center;
    line-height: 30px;
}
.hit {
    background-color: red;
}
.miss {
    background-color: black;
}
.placed {
    background-color: gray;
}
.row-label, .col-label {
    background-color: lightgray;
    line-height: 30px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 80%; /* Adjust width to fit within the page */
}

.header {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.player {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hits-misses {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.hits-misses span {
    margin: 0 10px;
}


/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Black background with transparency */
    color: goldenrod;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
}

#winner-message {
    font-size: 32px;
}

#play-again-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#play-again-button:hover {
    background-color: #218838;
}

#fireworksCanvas {
    display: none; /* Hide the canvas initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* z-index: 9999; */
}