<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship Game</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="header">
        <h1>Battleship</h1>
    </div>

    <div class="container">
        <div class="player">
            <h2>Player One</h2>
            <div class="hits-misses">
                <span>Hits: <span id="p1-hits">0</span></span> |
                <span>Misses: <span id="p1-miss">0</span></span>
            </div>
        </div>

        <div class="player">
            <h2>Player Two</h2>
            <div class="hits-misses">
                <span>Hits: <span id="p2-hits">0</span></span> |
                <span>Misses: <span id="p2-miss">0</span></span>
            </div>
        </div>
    </div>


    <!-- Board for placing ships and attacking -->
    <div class="board-wrapper" id="p1-wrapper">
        <div class="board" id="p1self"></div>
	    <div class="board" id="p1opponent"></div>
    </div>

    <div class="board-wrapper" id="p2-wrapper" style="display: none;">
        <div class="board" id="p2self"></div>
	    <div class="board" id="p2opponent"></div>
    </div>

    <!-- Ship Placement Controls -->
    <div id="controls">
        <h2>Place Your Ships</h2>
        <label id="ship-length-label" for="ship-length">Number of Ships:</label>
        <select id="ship-length">
            <option value="1">1: 1x1</option>
            <option value="2">2: 1x1, 1x2</option>
            <option value="3">3: 1x1, 1x2, 1x3</option>
            <option value="4">4: 1x1, 1x2, 1x3, 1x4</option>
            <option value="5">5: 1x1, 1x2, 1x3, 1x4, 1x5</option>
        </select>

        <p id="ship-placement-status"></p>

        <button id="shipConfirm">Confirm</button>
        <br><br>

        <label for="start-coord" id="start-coord-label" style="display: none">Starting Coordinate (e.g., A1):</label>
        <input type="text" id="start-coord" placeholder="A1" style="display: none">
        <br><br>

        <label for="direction" id="direction-label" style="display: none">Direction:</label>
        <select id="direction" style="display: none">
            <option value="horizontal">Horizontal</option>
            <option value="vertical">Vertical</option>
        </select>
        <br><br>

        <button id="place-ship" style="display: none;">Place Ship</button>
        <button id="next-player-place-ship" style="display: none;" disabled>Player 1 End Placing Ships</button>
        <button id="start-game" style="display: none;" disabled>Start Attack Phase</button>
    </div>
    <button id="end-turn" style="display: none;">End Turn</button>

    <div id="win-modal" class="modal">
        <div class="modal-content">
            <span id="winner-message"></span>
            <button id="play-again-button">Play Again</button>
        </div>
    </div>

    <canvas id="fireworksCanvas"></canvas>
    
    <script src="/static/js/Player.js"></script>
    <script src="/static/js/game.js"></script>
    <script src="/static/js/board.js"></script>
    <script src="/static/js/turnSystem.js"></script>
    <script src="/static/js/fireworks.js"></script>
</body>
</html>